html
  head
    title Search for a Book
    link(rel='stylesheet', href='/style.css')
    // BootStrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  nav.navbar.navbar-inverse
    .navbar-header
      a.navbar-brand(href='/') Book Store
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/logout') Logout
        li
          a(href='/checkstock') Check Stock
        li
          a(href='/checkstoreorders') Orders
        li
          a(href='/insertbook') Insert Book
        li
          a(href='/modifypage') Modify Book
        li
          a(href='/deletepage') Delete Book

  body(style='background-color: #F4F2F1')
    h3.col-xs-6 The following orders are pending for the Book Store:
    - var n = 0
    table.table.table-striped
      tr
        th ISBN
        th Amount
        th Manager
        th Order ID
      -for(var i = 0; i<JSON.parse(data).length; i++) // Populate entire table with all order data from query
        tr
          td
            a(href='/modifybook:'+JSON.parse(data)[i]["ISBN"])
                h4=JSON.parse(data)[i]["ISBN"]
          td
            h4=JSON.parse(data)[i]["Amount"]
          td
            h4=JSON.parse(data)[i]["Manager"]
          td 
            h4=JSON.parse(data)[i]["Order_ID"]