html
  head
    title="Insert New Book"
    link(rel='stylesheet', href='/style.css')
    //Bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')

  nav.navbar.navbar-inverse
    .navbar-header
      a.navbar-brand(href='/') Book Store
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/logout') Logout
        li
          a(href='/checkstock') Check Stock
        li
          a(href='/checkstoreorders') Orders
        li
          a(href='/insertbook') Insert Book
        li
          a(href='/modifypage') Modify Book
        li
          a(href='/deletepage') Delete Book

  body
    .col-lg-7
      h3="Insert New Book"
      br
    .form-group.col-sm-6
        label Title
        input.form-control#Title(placeholder='Harry Potter and the Chamber of Secrets')
        br
        label Author
        input.form-control#Author(placeholder='J.K. Rowling')
        br
        label ISBN
        input.form-control#ISBN(placeholder='978-0439064873')
        br
        label Genre
        input.form-control#Genre(placeholder='Fantasy')
        br
        label Number of Copies
        input.form-control#Copies(placeholder='15')
        br
        label Cover Image Address
        input.form-control#Image(placeholder='https://images-na.ssl-images-amazon.com/images/P/0439064864.jpg')
        br
        label Price
        input.form-control#Price(placeholder='$7.99')
        br
        button.btn-lg.btn-success(onclick="finishInsert()") Confirm
    .col-lg-12

  script.
    function finishInsert(){
      insertTitle = document.getElementById("Title").value;
      insertISBN = document.getElementById("ISBN").value;
      insertAuthor = document.getElementById("Author").value;
      insertGenre = document.getElementById("Genre").value;
      insertCopies = document.getElementById("Copies").value;
      insertImage = encodeURIComponent(document.getElementById("Image").value);
      insertPrice = document.getElementById("Price").value.slice(1);
      window.location = "/finishInsert:"+insertISBN+"&"+insertAuthor+"&"+insertTitle+"&"+insertGenre+"&"+insertCopies+"&"+insertImage+"&"+insertPrice;
    }

    